/* 
This is the css file for page styling

Contents:
1. Global Variables
2. Content Widths
3. Page Wraps
4. Links
5. Front-page
6. Header
7. Page Templates
8. Blog/Archive Page
*/

/* Variables */
:root {
    /* Colors */
    --colour-tblack: #363636;
    --colour-tgrey: #737373;
    --colour-tlightgrey: #c6c6c8;
    --colour-twhite: #fff;
    --colour-tblue: #5b9ef0;
    --colour-tpaleblue: #e4effd;
    --colour-tblue-secondary: #358ffc;
    --colour-tred: #ee4d4d;
    --colour-tpink: #ff3aca;

    /* Font Sizes */
    --fontsize-page-title: 62px;
    --fontsize-extra-large: 42px;
    --fontsize-large: 35px;
    --fontsize-medium: 30px;
    --fontsize-below-medium: 26px;
    --fontsize-above-avg: 20px;
    --fontsize-normal: 18px;
    --fontsize-small: 16px;
    --fontsize-extra-small: 12px;
    font-size: var(--fontsize-normal);
}

/* Page Wraps */
body {
    font-family: "Chivo"!important;
    font-weight: 400;
    font-size: 18px;
    background-color: var(--colour-twhite);
}
.site-main {
    padding-bottom: 60px;
}

/* Content Widths */
.entry-content > *:not(.woocommerce, .alignfull),
.entry-header, .entry-footer {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
}
.entry-content > *.alignwide,
.entry-content > *.woocommerce,
.alignwide {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.entry-content > *.alignfull,
.alignfull {
    width: 100%;
}

/* Links */
.site-main a:not(.button) {
    color: var(--colour-tred);
}
.site-main h1 a, .site-main h2 a, .site-main h3 a {
    color: var(--colour-tblue-secondary);
}
.wp-block-post-excerpt__more-link,
.wp-block-rss li a {
    color: var(--colour-tblue-secondary);
}

/* Front-page  */
#tee-front-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.tee-front-page {
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.tee-front-page-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 100vh;
}
.tee-front-page-banner .tee-banner-img {
    grid-column: 1/-1;
    grid-row: 1/-1;
    overflow-y: hidden;
}
.tee-front-page-banner .tee-banner-tagline {
    grid-column: 1/-1;
    grid-row: 2/-1;
    font-size: calc(1.8 * var(--fontsize-page-title));
    padding-left: 1em;
}

/* Header */
.site-header {
    background-color: #e0e0e1;
    padding: 10px 30px;
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: max-content;
    z-index: 99;
}
.site-header.white-header {
    background-color: #ffffff80;
}
.main-navigation .menu {
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: var(--fontsize-below-medium);
    font-weight: 700;
}
.main-navigation .menu-item a {
    color: var(--colour-tblack);
    transition: color 0.4s;
}
.main-navigation .menu-item a:hover, .main-navigation .menu-item a:focus {
    color: var(--colour-tblue);
}
#icon-menu {
    display: none;
}
.post .entry-header {
    margin-bottom: 40px;
}
.post .entry-content {
    margin-top: 60px;
}
.post .entry-meta {
    font-size: var(--fontsize-small);
}
.post .entry-meta a {
    color: var(--colour-tblack);
}
.post .entry-meta a:hover {
    color: var(--colour-tblue);
}
.post .entry-meta span {
    margin-right: 20px;
}

/* Page Templates */
/* Bar Left Templates */
.barleft-content {
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 20px;
}
.barleft-content.barleft-red {
    border-color: var(--colour-tred);
}
.barleft-content.barleft-blue {
    border-color: var(--colour-tblue);
}
/* Narrow Left Template */
.narrow-content {
    max-width: 550px !important;
}

/* Blog/Archive Page */
/* Featured Post */
.tee-blog-post .tee-featured-post {
    background-color: var(--colour-tblack);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.tee-featured-post > h2 {
    color: var(--colour-twhite);
}
.tee-featured-post .entry-header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 25px;
}
.tee-featured-post .entry-title {
    margin-top: 0;
    font-size: var(--fontsize-above-avg);
    color: var(--colour-tblack);
}
.page-header.entry-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}
.tee-featured-post .post {
    background-color: var(--colour-twhite);
}
.tee-featured-post .post > *:not(.post-thumbnail) {
    margin-left: 10px;
    margin-right: 10px;
}
/* Regular Posts */
.tee-blog-post .entry-content > .grid-x {
    padding: 0;
}
.tee-posts-list {
    border-left: 8px solid var(--colour-tblue);
    padding-left: 1rem;
}
.tee-blog-post .tee-posts-list {
    padding-right: 2rem;
}
.tee-posts-list.tee-designs-list {
    border-left: 8px solid var(--colour-tred);
}
.tee-blog-post .entry-title, 
.tee-posts-list .entry-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: var(--fontsize-below-medium);
}
.tee-blog-post .entry-title a, 
.tee-posts-list .entry-title a {
    color: var(--colour-tblack);
}
.tee-blog-post .entry-title a:hover,
.tee-posts-list .entry-title a:hover {
    color: var(--colour-tblue);
}
.tee-blog-post .entry-meta {
    font-size: var(--fontsize-extra-small);
}
.tee-excerpt-content p {
    margin-bottom: 0.5rem;
}
.tee-excerpt-footer .comments-link {
    display: none;
}
.tee-excerpt-footer span {
    font-size: var(--fontsize-extra-small);
    margin-right: 15px;
}
.tee-posts-list .entry-header {
    padding-left: 0;
    padding-right: 0;
}
.tee-posts-list > h2 {
    margin-bottom: 1.5rem;
}
.tee-posts-list .tee_design {
    margin-bottom: 40px;
}
/* Design Sidebar (WP_Query) */
.tee-design-sidebar {
    padding-left: 1rem;
    border-left: 8px solid var(--colour-tred);
}
.tee-design-sidebar h2 {
    font-size: var(--fontsize-above-avg);
    line-height: 1.1;
    color: var(--colour-twhite);
    margin-bottom: 0;
}
.tee-design-sidebar .byline {
    font-size: var(--fontsize-extra-small);
    color: var(--colour-twhite);
}
.tee-design-sidebar .byline a {
    color: var(--colour-tblue);
}
.tee-design-sidebar-post {
    display: grid;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    margin-bottom: 20px;
}
.tee-design-sidebar-post img {
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.tee-design-sidebar-post .tee-design-info {
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: #03030395;
    padding: 10px;
}
.tee-design-sidebar-post .tee-design-info h2 a {
    color: var(--colour-twhite);
}
.tee-design-sidebar-post .tee-design-info h2 a:hover {
    color: var(--colour-tblue);
}

/* Popular Designs (WP_Query) */
.tee-entry-footer-wide {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.tee-popular-designs-header {
    background-color: var(--colour-tblue);
    color: var(--colour-twhite);
    margin-bottom: 30px;
    padding: 10px 20px;
}
.tee-popular-designs-header h2,
.tee-popular-designs-header p,
.tee-popular-design h2 {
    margin-bottom: 0;
}
.tee-popular-design h2 {
    font-size: var(--fontsize-above-avg);
}
.tee-popular-design .byline {
    font-size: var(--fontsize-small);
}
