/* Navigation */
#store-menu {
    box-shadow: 0 3px 6px #00000016;
    background-color: var(--colour-twhite);
    height: 55px;
    padding: 0 30px;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--fontsize-above-avg);
    font-weight: 700;
}
#store-menu .menu-item a {
    color: var(--colour-tblack);
    transition: color 0.4s;
}
#store-menu .menu-item a:hover, #store-menu .menu-item a:focus {
    color: var(--colour-tblue);
}

/* Container */
.entry-content > .woocommerce {
    /* width: 1190px; */
    padding: 40px 25px 0;
}

/* Store Page */
.woocommerce-result-count,
.woocommerce-ordering {
    display: none;
}
ul.products {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 174px);
    column-gap: 20px;
}
.woocommerce-LoopProduct-link,
.woocommerce-LoopProduct-link .price {
    text-align: center;
}
.woocommerce-loop-product__title {
    font-size: var(--fontsize-below-medium);
    color: var(--colour-tblack);
}
.woocommerce-LoopProduct-link .price {
    display: block;
    color: var(--colour-tblue);
}
.products .product .button {
    display: none;
}

/* Product Info Layout */
.woocommerce div.product {
    display: grid;
    grid-template-areas: "gallery info" "tabs tabs";
    grid-template-columns: minmax(250px, 36.6%) 1fr;
    grid-template-rows: max-content max-content;
    gap: 30px;
    /* width: inherit; */
}
.product_title.entry-title,
.woocommerce-product-gallery {
    grid-area: gallery;
}
.woocommerce .summary {
    grid-area: info;
}
.woocommerce-tabs {
    grid-area: tabs;
}

/* Product Title */
.product_title.entry-title {
    font-size: var(--fontsize-extra-large);
    max-width: 435px;
    color: var(--colour-twhite);
    background-color: var(--colour-tblack);
    text-align: center;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    height: 75px;
}
/* Product Images */
.woocommerce-product-gallery {
    max-width: 435px;
    padding: 20px;
    border: 2px solid var(--colour-tblack);
}
.woocommerce div.product div.images,
.woocommerce-page div.product div.images {
    width: 100%;
    float: none;
    margin-top: 75px;
}
.woocommerce-product-gallery__image {
    text-align: center;
}

/* Summary Layout */
.woocommerce .summary {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas:    "price price"
                            "vars vars"
                            "desc blank";
    width: 100%;
}
.variations_form {
    grid-area: vars;
}
.summary .price {
    grid-area: price;
}
.woocommerce-product-details__short-description {
    grid-area: desc;
}
.product_meta {
    display: none;
}

/* Variations Layout */
.variations_form {
    display: grid;
    grid-template-columns: 40% 1fr;
    /* grid-template-areas:    "size recs"
                            "colour recs"
                            "d-colours recs"
                            "blank add-cart"; */
    grid-auto-rows: 105px;
    column-gap: 20px;
}
.variations.size {
    /* grid-area: size;
    height: max-content; */
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.variations.colour {
    /* grid-area: colour; */
    grid-row: 2/3;
    grid-column: 1/2;
}
.variations.design-colour {
    grid-area: d-colours;
    grid-row: 3/4;
    grid-column: 1/2;
}
.variations.recs {
    /* grid-area: recs; */
    grid-row: 1/span 3;
    grid-column: 2/-1;
}
.single_variation_wrap {
    grid-area: add-cart;
}

.variations p.label {
    background-color: transparent;
    color: var(--colour-tblack);
    margin-bottom: 0;
    font-size: var(--fontsize-normal);
}
.size .value {
    min-width: 120px;
    display: inline-block;
}
.size select {
    font-size: var(--fontsize-small);
}

/* Product Tabs */
.product .woocommerce-tabs {
    display: none;
}

/* Login Page */
.woocommerce-form-login {
    max-width: 600px;
}
input {
    background: var(--white-color) !important; /* Fix Firefox autofill colour for input fields */
}

/* My Account Page */
.woocommerce-MyAccount-navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--fontsize-above-avg);
    list-style: none;
    border: 1px solid #00000016;
    box-shadow: 0 3px 6px #00000016;
    margin-left: 0;
    height: 40px;
    margin-bottom: 50px;
}
.woocommerce-MyAccount-navigation a {
    color: var(--colour-tblack);
    transition: color 0.4s;
}
.woocommerce-MyAccount-navigation a:hover {
    color: var(--colour-tblue);
}
.tee-account-main {
    padding: 0 25px;
    margin-bottom: 50px;
}
.tee-account-main table, .tee-account-main tbody {
    border-width: 0;
}
.tee-account-main tbody tr:nth-child(2n) {
    background-color: inherit;
}
.account-sidebar h3 {
    font-size: 24px;
}
.account-sidebar a {
    font-size: var(--fontsize-small);
}
.tee-order-link {
    text-align: right;
}

/* Cart Page */
.cart_item {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 120px;
    align-items: center;
    column-gap: 15px;
}
.tee-cart-item-wrapper {
    box-shadow: 0 3px 6px #00000016;
    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr 60px 60px;
    column-gap: 10px;
    align-items: center;
}
.tee-cart-item-wrapper > div {
    height: fit-content;
}
.tee-product-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.tee-product-info .product-name {
    margin-bottom: 0;
    font-size: var(--fontsize-above-avg);
}
.tee-product-info .product-name a {
    color: var(--colour-tblack);
}
.tee-product-info .variation {
    display: flex;
    margin-bottom: 0;
}
.tee-product-info .variation-Chooseadesign {
    display: none;
}
.tee-product-info dd, .tee-product-info dt {
    margin-bottom: 0;
    font-weight: normal;
    font-size: var(--fontsize-extra-small);
}
.tee-product-info dd {
    margin-right: 15px;
}
.tee-product-info dt {
    margin-right: 5px;
}
.tee-cart-item-wrapper .product-quantity input {
    border-width: 0;
    box-shadow: none;
    margin-bottom: 0;
}
.cart-collaterals .cart_totals h2 {
    display: none;
}
.cart_totals table {
    border-collapse: separate;
    border-spacing: 8px;
}
.cart_totals table tr {
    background: inherit;
}
.cart_totals table tr:first-child > th {
    border-left: 8px solid var(--colour-tblue);
}
.cart_totals table tr:nth-child(2n) > th {
    border-left: 8px solid var(--colour-tred);
}
.cart-subtotal, .order-total {
    font-size: var(--fontsize-below-medium);
}
.wc-proceed-to-checkout {
    text-align: center;
}
.checkout-button.button {
    font-size: var(--fontsize-above-avg);
    background-color: var(--colour-tred);
    padding-top: 10px;
    padding-bottom: 0;
}