.entry-content > .woocommerce {
    /* width: 1190px; */
    padding-top: 40px;
}
/* Product Info Layout */
.woocommerce div.product {
    display: grid;
    grid-template-areas: "gallery info" "tabs tabs";
    grid-template-columns: minmax(250px, 36.6%) 1fr;
    grid-template-rows: max-content max-content;
    gap: 30px;
    /* width: inherit; */
}
.product_title.entry-title,
.woocommerce-product-gallery {
    grid-area: gallery;
}
.woocommerce .summary {
    grid-area: info;
}
.woocommerce-tabs {
    grid-area: tabs;
}

/* Product Title */
.product_title.entry-title {
    font-size: var(--fontsize-extra-large);
    max-width: 435px;
    color: var(--colour-twhite);
    background-color: var(--colour-tblack);
    text-align: center;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    height: 75px;
}
/* Product Images */
.woocommerce-product-gallery {
    max-width: 435px;
    padding: 20px;
    border: 2px solid var(--colour-tblack);
}
.woocommerce div.product div.images,
.woocommerce-page div.product div.images {
    width: 100%;
    float: none;
    margin-top: 75px;
}
.woocommerce-product-gallery__image {
    text-align: center;
}

/* Summary Layout */
.woocommerce .summary {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas:    "price price"
                            "vars vars"
                            "desc blank";
    width: 100%;
}
.variations_form {
    grid-area: vars;
}
.summary .price {
    grid-area: price;
}
.woocommerce-product-details__short-description {
    grid-area: desc;
}
.product_meta {
    display: none;
}

/* Variations Layout */
.variations_form {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas:    "size recs"
                            "colour recs"
                            "d-colours recs"
                            "blank add-cart";
    column-gap: 20px;
}
.variations.size {
    grid-area: size;
}
.variations.colour {
    grid-area: colour;
}
.variations.design-colour {
    grid-area: d-colours;
}
.variations.recs {
    grid-area: recs;
}
.single_variation_wrap {
    grid-area: add-cart;
}

.variations p.label {
    background-color: transparent;
    color: var(--colour-tblack);
    margin-bottom: 0;
    font-size: var(--fontsize-normal);
}

/* Product Tabs */
.product .woocommerce-tabs {
    display: none;
}